# ============================================
# PYTHON CACHE FILES
# ============================================

__pycache__/
*.py[cod]
*$py.class


# ============================================
# JUPYTER NOTEBOOK FILES
# ============================================

.ipynb_checkpoints/


# ============================================
# VIRTUAL ENVIRONMENTS
# ============================================

venv/
env/
ENV/


# ============================================
# DATASETS
# ============================================

data/raw/
data/processed/


# ============================================
# MODEL FILES
# ============================================

models/*.joblib
models/*.h5
models/best_fraud_model.pkl

# ============================================
# CATBOOST TRAINING ARTIFACTS
# ============================================

catboost_info/
**/catboost_info/


# ============================================
# LARGE FILES
# ============================================

*.csv
*.zip
*.tar.gz


# ============================================
# LOG FILES
# ============================================

*.log


# ============================================
# SYSTEM FILES
# ============================================

.DS_Store
Thumbs.db


# ============================================
# STREAMLIT CACHE
# ============================================

.streamlit/


# ============================================
# PYTEST / COVERAGE
# ============================================

.pytest_cache/
.coverage
htmlcov/


# ============================================
# VS CODE SETTINGS
# ============================================

.vscode/


# ============================================
# ENVIRONMENT VARIABLES
# ============================================

.env


# ============================================
# TEMP FILES
# ============================================

*.tmp
*.temp


# ============================================
# BUILD FILES
# ============================================

build/
dist/
*.egg-info/


# ============================================
# MAC / WINDOWS HIDDEN FILES
# ============================================

ehthumbs.db
Desktop.ini